# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/graphql/schema*

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/
/tsconfig.tsbuildinfo
/junit.xml

# production
/build

# misc
/.idea
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# Terarform
**/.terraform/
**/.terragrunt-cache/

# Sentry
.sentryclirc

.browserstack
